.keys {
  display: flex;
  justify-content: center;
}

.key {
    border: 3px solid red;
    border-radius: 20%;
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    font-size: 14px;
    padding: 25px 25px 25px 25px;
}
.key#space{
  width: 300px;
}

html {
  background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3385292.jpg);
  background-size: cover;
}